<!doctype html>

<title>Murmur online editor</title>
<meta charset="utf-8"/>
<meta name="description" content="Implement your inbox" />
<meta name="keywords" content="email, inbox" />

<link rel="stylesheet" href="css/libs/docs.css">

<link rel="stylesheet" href="css/libs/codemirror.css">
<link rel="stylesheet" href="css/libs/fontawesome-all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- Interactive console styles -->
<link rel="stylesheet" href="css/libs/sandbox.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="js/libs/bootstrap.bundle.min.js"></script>

<script src="js/libs/fontawesome-all.min.js"></script>
<script src="js/libs/codemirror.js"></script>
<script src="js/libs/addon/edit/matchbrackets.js"></script>
<script src="js/libs/python.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>

<script src="js/conf.js"></script>

<style type="text/css">
  .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}

  .info {color: white;}
  .error { color: red; }

  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }

  /*.header {
    padding: 16px;
    padding-top: 30px;
  }*/

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .header {
    padding-top: 50px;
  }

  #console {
    background: black;width:100%;padding-left: 40px;
  }

  #loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #status {
    display: none;
  }

  .CodeMirror {
    height: 400px;
  }

  .search_draggable table {
    appearance:button;
    -moz-appearance:button; 
    -webkit-appearance:button;
    display: inline-block;
    padding: 2px 5px;
  }
</style>


<body>
    <div class="header">
      <h1>Murmur: Program your inbox!</h1>
      <div id="login_window" class="row">

        <!-- Open login modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-login">
          Log in to my email
        </button>
      </div>
            <!-- <p>* This project is currently undergoing development. <br/>
              We might ask you log in again to Murmur if you log in with a plain password. <br/> 
              This is due we don't store your password nor email contents but your email source code for user-behavior analysis purpose.</p> -->
    </div>
    

    <!-- Modal -->
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Log into my email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="tab-content" id="myTabContent">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval=false>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div style="padding-left: 10px;">
                      Email address: <input id="username" data-toggle="tooltip" data-placement="top" data-trigger="hide" title="Invalid address" style="margin-top: 40px;" type="text"/>
                    </div>

                    <button type="button" href="#carouselExampleSlidesOnly" onclick="slideLoginModal()" style="float: right" class="btn btn-primary">Next</button>
                  </div>
                  <div class="carousel-item">
                    <ul class="nav nav-tabs" id="login_mode" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="plain-tab" data-toggle="tab" href="#plain-tab-content" role="tab" aria-controls="home" aria-selected="true">Plain</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="oauth-tab" data-toggle="tab" title="Oauth is not supported for this email host" href="#oauth-tab-content" role="tab" aria-controls="profile" aria-selected="false">Oauth</a>
                      </li>
                    </ul>

                    <div class="tab-pane fade show active" id="plain-tab-content" role="tabpanel" aria-labelledby="plain-tab" style="margin-bottom: 30px;">
                      Password: <input id="password" type="password"/>
                      <br/>
                      <h6 style="margin: 10px;">Before you start, go to <a href="https://myaccount.google.com/lesssecureapps">"Less secure apps" section of my Account.</a> And Enable less secure log in.</h6>
                      <button class="btn btn-primary" style="float: right;margin-bottom: 10px;" onclick="authenticate()">Log in</button>
                    </div>
                    <div class="tab-pane fade" id="oauth-tab-content" role="tabpanel" aria-labelledby="oauth-tab">
                      <a class="btn btn-info" style="color:white;" target="_blank" href="https://accounts.google.com/o/oauth2/auth?client_id=1035128514395-ljeutpptbag8unpv2lgo1k93eiq006f6.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&scope=https%3A%2F%2Fmail.google.com%2F">Get access code</a>
                      <br/><br/>
                      access code: <input id="oauth" type="text"/>
                      <button class="btn btn-primary" onclick="authenticate()">Log in</button>
                    </div>
                    <div id="loader"></div>
                    <span id="auth-msg"></span>
                    <button type="button" href="#carouselExampleSlidesOnly" data-slide="prev" class="btn btn-secondary">Back</button>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
          <!-- <div class="modal-footer">
            <button type="button" href="#carouselExampleSlidesOnly" data-slide="prev" class="btn btn-secondary">Back</button>
            <button type="button" href="#carouselExampleSlidesOnly" onclick="slideLoginModal()" class="btn btn-primary">Next</button>
          </div> -->
        </div>
      </div></div>


    <div class="row" style="margin-left: 10px;">
      <div class="col-7">
        <div id="status">
          Inbox engine status: 
          <div class="fa-3x">
            <span class="fa-layers fa-fw">
              <i class="fas fa-cog"></i>
              <span class="fa-layers-counter idle-mark" style="background:Tomato">IDLE</span>
            </span>
          </div>
          <button onclick="logout()">Log out</button>
          <!-- <span id="auth-msg"></span> -->
        </div>

            <div style="padding-top:  50px;">
              <div class="card">
                <div class="card-header">
                  <span>Email engine editor</span> <button class="btn btn-primary" style="float:right" id="submit" onclick="submitCommand()" disabled>Run</button>
                </div>
                <div class="card-block">
                  <textarea id="code" name="code">
def doAction(newEmail):
    if "free food" in newEmail.get_subjects()[0]:
        send("my_colleague@mit.edu", "Free food is here!", "\n".join(newEmail.get_subjects()))

onArrive(doAction)
                  </textarea>
                </div>
              </div>

              <div id="console" class="info">
                <p class="info">Output from the engine will be displayed here. Press a button "RUN" to start your engine.</p>
              </div>
            </div>

        
      </div>
      <!-- END editor col -->

      <!-- START interactive console row -->
      <div class="col-5">
        <div id="sandbox">sandbox loading...</div>

        <!-- Templates -->
        
        <!-- The sandbox template: -->
        <script type="text/template" id="tplSandbox">
          <pre class="output">
            <div class="search_draggable" >
                <table style="float: left;" draggable="true" class="table">
                  <!-- <thead>
                  <tr><td>
                    <i class="fas fa-arrows-alt"></i>
                  </td></tr></thead> -->
                  <tr>
                  <td><i class="fas fa-arrows-alt"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td>soya@mit.edu</td>
                  <td>Event reminder: The MIT Intelligence Quest Launch</td>
                </tr>
                <tr>
                  <td>karger@mit.edu</td>
                  <td>When is group meeting?</td>
                </tr>
                <tr>
                  <td>axz@mit.edu</td>
                  <td>[EECS GSA] Health and Wellness Dinner - March 2</td>
                </tr>
              </table>
        
             <!--  <p draggable="true" id="1">This</p>
              <p draggable="true" id="2">is</p>
              <p draggable="true" id="3">a</p>
              <p draggable="true" id="4">simple</p>
              <p draggable="true" id="5">Drag'n'Drop-Test</p> -->
            </div>
          </pre>
          <div class="input">
            <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
          </div>
        </script>

        <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
        <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
      <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
      <% } %></script>
      </div>
    </div>
  </div>

  <!-- Underscore, Backbone, backbone-localStorage, jQuery -->
<script src="js/libs/console/underscore.min.js"></script>
<script src="js/libs/console/backbone.min.js"></script>
<script src="js/libs/console/backbone-localStorage.min.js"></script>

<!-- Some extras for the demo: -->
<script src="js/libs/console/lettering.js"></script>
<script src="js/libs/console/prettify.js"></script>
<script src="js/libs/console/DAT.GUI.min.js"></script>

<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
<script src="js/libs/console/sandbox-console.js"></script>

<!-- When ready, create the model and view -->
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      document.addEventListener('dragstart', function (event) {
        event.dataTransfer.setData('source', '<span class="badge badge-info">Info</span>')
        // event.dataTransfer.setData('Text', event.target.innerHTML);
      });

      // Create the sandbox:
      window.sandbox = new Sandbox.View({
        el : $('#sandbox'),
        model : new Sandbox.Model()
      });
      
      // Lettering.js:
      $('h1').add('h2').add('h3').lettering();

      // prettify code blocks:
      prettyPrint();

      // GUI demo controls:
      // DAT.GUI.autoPlace = false;
      // DAT.GUI.supressHotKeys = true;

      // window.gui = new DAT.GUI();

      // gui.name('Commands to try out');
      // gui.close();

      // $(gui.domElement).css({
      //   position:"absolute",
      //   top:0,
      //   right:-10
      // }).appendTo('body');

      // // Some custom callback functions for dat.gui:
      // sandbox.custom1 = function() {  sandbox.currentHistory = ":help"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom2 = function() {  sandbox.currentHistory = ":clear"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom3 = function() {  sandbox.currentHistory = "JSON.stringify(sandbox.model.get('history'), 0, 4);"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom4 = function() {  sandbox.currentHistory = "sandbox.resultPrefix = '&raquo; '"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom5 = function() {  sandbox.currentHistory = "var who = 'you', where = 'your life';"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom6 = function() { sandbox.currentHistory = "function saySomethingFunny() {\n\treturn 'something funny';\n};\nsaySomethingFunny(); // hit return!"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom7 = function() {  sandbox.currentHistory = "somethingUndefined; // hit enter!"; sandbox.update(); sandbox.textarea.focus(); };
      // sandbox.custom8 = function() {  sandbox.model.set({ iframe : true }); sandbox.model.addHistory({ command : " ", result : "Commands are now being evaluated inside a sandboxed iframe." }); sandbox.model.iframeSetup(); };
      // sandbox.custom9 = function() {  sandbox.currentHistory = ":load http://code.jquery.com/jquery-1.6.4.js"; sandbox.update(); sandbox.textarea.focus(); };
      
      // gui.add(sandbox, 'custom1').name('Show <code>:help</code> menu');
      // gui.add(sandbox, 'custom2').name('<code>:clear</code> the command history');
      // gui.add(sandbox, 'custom3').name('View all history');
      // gui.add(sandbox, 'custom4').name('Set the result/response prefix');
      // gui.add(sandbox, 'custom5').name('Define some variables');
      // gui.add(sandbox, 'custom6').name('Multi-line input (use <code>alt</code> + <code>return</code>/<code>up</code>/<code>down</code>)');
      // gui.add(sandbox, 'custom7').name('Throw an error');
      // gui.add(sandbox, 'custom8').name('Switch on <code>iFrame</code> sandboxing');
      // gui.add(sandbox, 'custom9').name('<code>:load</code> a script (jQuery)');

      // gui.open();

    });
  </script>

  <script>
    

    var uid = "";
    var auth = false, execute = false, first = true;

    var runningRef = firebase.database().ref("running/");
    runningRef.on('value', function(snapshot) {
        if(!snapshot.val()) {
          $('<div class="header sticky" id="myHeader" style="background-color: Tomato;"><span>Murmur is currently shut down. Let the <a href="mailto:sbhappylee@gmail.com">admin</a> knows it is not working!</span></div>').prependTo('body');
        }
        else {
          $('.sticky').remove();
        }
      });
    

    function authenticate() {
      showLoader(true);

      uid = hashCode(document.getElementById("username").value)
      var playersRef = firebase.database().ref("users/" + uid);
        // users/2017-3-6

      var msg;
      if($("#oauth-tab-content").hasClass("active")) 
        msg = {
          "username": document.getElementById("username").value,
          "code": document.getElementById("oauth").value,
          "type": "oauth" // auth or oauth
        };
      else {
        msg = {
          "username": document.getElementById("username").value,
          "password": document.getElementById("password").value,
          "type": "auth" // auth or oauth
        };
      } 
       

      playersRef.push(msg,
          function(response) {
            if(response)
              console.log("Firebase: Error at submiting command " + response);
            else {

              // successfully submitted, show a msg to user
              installListener();
            }
          });
    }

    function login_success() {
      $("#login_window").hide();
      $("#status").show();

      $("#modal-login").modal('hide');
      showLoader(false);
    }

    function logout() {
      submitCommand("logout()");
      $("#login_window").show();
      $("#status").hide();
      window.location.reload(true);
    }

    function showLoader(show) {
      if(show)
        $("#loader").show();
      else 
        $("#loader").hide();
    }

    function slideLoginModal() {
      var slide_index = $('.carousel-item.active').index();

      if (slide_index == 0) {
        // if valid email address
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(document.getElementById("username").value)) {
          $("#oauth-tab").removeClass("disabled");
          $("#oauth-tab").tooltip('dispose');
          $('#login_mode li:first-child a').tab('show');

          if(document.getElementById("username").value.split("@")[1].split(".")[0] != "gmail") {
            $("#oauth-tab").addClass("disabled"); // disable Oauth
            $("#oauth-tab").tooltip('toggle');
            $("#oauth-tab").tooltip('hide');
          }
             

          $(".carousel").carousel('next');
        }
        else {
          $("#username").tooltip('show');
        }
      }
    }

    function spinStatusCog(spin) {
      if(spin)
        $("svg.fa-cog").addClass("fa-spin");
      else 
        $("svg.fa-cog").removeClass("fa-spin");
    }

    function installListener() {
      var msgRef = firebase.database().ref("messages/" + uid);
      var startKey = msgRef.push().key;

        msgRef.orderByKey().startAt(startKey).on('child_added', function(snapshot) {
          console.log("New message: ");
          console.log(snapshot.val());
          if(snapshot.val()["auth"]) {
            if(snapshot.val()["code"] == 200){
              $("#auth-msg").text(snapshot.val()["auth"]);
              $("#auth-msg").removeClass("error");
              
              $("button").prop("disabled",false);
              auth = true;

              login_success()
              // myVar = setTimeout(login_success, 4000);
            }
            else {
              $("#auth-msg").text(snapshot.val()["auth"]);
              $("#auth-msg").addClass("error");
              showLoader(false);
            }


          }
          else { // after auth success
            if(!auth || !execute) return;
            var currentdate = new Date(); 
            var datetime = (currentdate.getMonth()+1) + "/"
                        + currentdate.getDate() + "/" 
                        + currentdate.getFullYear() + " @ "  
                        + currentdate.getHours() + ":"  
                        + currentdate.getMinutes() + ":" 
                        + currentdate.getSeconds()
                        + " | ";

            if(snapshot.val()["type"] == "error")  {
              $( "<p>" + datetime + snapshot.val()["content"] + "</p>" ).appendTo( "#console" )
                .addClass("error");
            }
            else {
              $( "<p>" + datetime + snapshot.val()["content"] + "</p>" ).appendTo( "#console" )
                .addClass("info");
            }
          }

      });

      var ruuningRef = firebase.database().ref("running/" + uid);
      ruuningRef.on('value', function(snapshot) {
        if(snapshot.val()) {
          spinStatusCog(true);
          editor.setValue(snapshot.val()) 
          $(".idle-mark").hide();
        }
        else {
          spinStatusCog(false);
          $(".idle-mark").show();
        }
      });
    }

    function hashCode(str){
      var hash = 0;
      if (str.length == 0) return hash;
      for (i = 0; i < str.length; i++) {
          char = str.charCodeAt(i);
          hash = ((hash<<5)-hash)+char;
          hash = hash & hash; // Convert to 32bit integer
      }
      return hash;
    }

    function submitCommand(cmd) {
      if(uid == "") {
        alert("Log in first!");
        return;
      }

      // Clean up previous execution result
      $("#console").text("")

      var playersRef = firebase.database().ref("users/" + uid);
        // users/2017-3-6

      playersRef.push({
              "type": "cmd",
              "uid": uid.toString(),
              "content": cmd ? cmd: editor.getValue()
          },
          function(response) {
            execute = true;
            if(response)
              console.log("Firebase: Error at submiting command " + response);
            else {
              // successfully submitted, show a msg to user
            }
          });
    }

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      mode: {name: "python",
             version: 3,
             singleLineStringErrors: false},
      lineNumbers: true,
      indentUnit: 4,
      matchBrackets: true
    });
  </script>
</body>